:root {

    --black: #000;
    --white: #fff;
    --red: #FB565A;
    --gray: #EEEEEE;
    --green: #00CA74;
    --yellow: #EFC849;

    --gray-500: #A6A6A6;
    --gray-600: #666666;
    --gray-700: #444444;
    --gray-300: #E1E1E1;
    --gray-200: #D7DCDE;
    --gray-250: #C1C1C1;
    --gray-400: #ABABAB;
    --gray-350: #D7DCDF;
    --gray-650: #4D4D4D;
    --gray-450: #B4B9BB;
    --gray-470: #DFDFDF;
    --gray-490: #D5D5D5;
    ---gray-370: #DBDBDB;

    --black-200: #283136;
    --black-300: #231F20;

    --red-500: #E74246;
    --red-600: #D7373B;

    --green-500: #00BC6C;
    --green-600: #00AA62;
    --green-400: #cfdc8f;

    --yellow-500: #EAB534;
    --yellow-600: #E5A722;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
    font-size: 0;

}

/*-----------------buttons---------------------------*/
.btn {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 3px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: var(--white);
    background-color: var(--red);

    cursor: pointer;
}


.btn:hover,
.btn:focus {

    background-color: var(--red-500);

}


.btn:active {
    background-color: var(--red-600);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.btn:active span {
    opacity: 0.3;
}

/*-----------------buttons-modificators--------------------------*/

.btn--green {
    background-color: var(--green);
}

.btn--green:hover,
.btn--green:focus {
    background-color: var(--green-500);
}

.btn--green:active {
    background-color: var(--green-600);
}


.btn--yellow {
    background-color: var(--yellow);
}

.btn--yellow:hover,
.btn--yellow:focus {
    background-color: var(--yellow-500);
}

.btn--yellow:active {
    background-color: var(--yellow-600);
}


.btn--gray {
    background-color: var(--gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;

    color: var(--black);
}

.btn--gray:hover,
.btn--gray:focus {
    background-color: var(--gray-470);
}

.btn--gray:active {
    background-color: var(--gray-490);
}


.display-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.reset-list dd,
.reset-list dt {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;

}

.page-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    min-width: 1440px;

    display: grid;
    grid-template-rows:
        min-content 1fr min-content;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--black-200);
    background-color: var(--white);

}


.container {

    max-width: 1190px;
    min-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;

}



.main-slider,
.main-header,
.lead-title {
    background-color: var(--gray);
}


/**---------------------------------header-----------------------------------------------*/

.main-nav {

    display: flex;
    padding-top: 48px;

}

.main-logo {
    display: block;
    width: 160px;
    height: 66px;

    margin-right: 202px;

}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-nav-list {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;

    margin-right: -22.5px;
    margin-left: -22.5px;
    padding-top: 27px;
}

.main-nav-list__link {
    position: relative;
    display: block;
    margin-left: 22.5px;
    margin-right: 22.5px;
    padding-bottom: 20px;
}



.main-nav-list__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--red);

}

.user-basket {
    display: flex;
    margin-left: 50px;
    padding-top: 27px;
}

.user-basket-link {
    position: relative;
    display: block;

    padding-left: 40px;
    padding-bottom: 20px;
}

.user-basket-link::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 15px;
    height: 15px;

    background-image: url(../../images/cart-icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;

}

.main-nav-list__link,
.user-basket-link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);

}

.main-nav-list__link:hover,
.main-nav-list__link:focus,
.user-basket-link:hover,
.user-basket-link:focus {
    color: var(--red);
}

.main-nav-list__link:active,
.user-basket-link:active {
    color: var(--black);
    opacity: 0.3;
}

/*-----------------------------catalog-main-------------------------------*/

.catalog-grid {
    display: grid;
    grid-template-columns: 260px 760px;
    column-gap: 140px;
}

/*-----------------------------lead-title-----------------------------------------*/

.lead-title {
    margin: 0;
    margin-bottom: 55px;
    padding-top: 72px;
    padding-bottom: 108px;

    font-weight: 500;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;

    color: var(--black);
}

/*----------------------------------slider--------------------------------------------------*/

.main-slider {
    margin-bottom: 79px;
}

.slider-wrapper {
    position: relative;
}

.slider-list__item {
    display: none;
    min-height: 431px;
    padding-top: 66px;
}

.slider-list__item--current {
    display: block;
}




.slider-list__lead {
    margin: 0;
    margin-bottom: 26px;
}

.slider-list__lead b {
    font-weight: 500;
    font-size: 55px;
    line-height: 1;

    color: var(--black);
}


.slider-list__text {
    margin: 0;
    margin-bottom: 37px;

    line-height: 1.6;
    color: var(--black-200);

}

.slider-list__more-btn {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 54px;

}

.slider-list__item--two .slider-list__lead {
    margin-bottom: 37px;
}

.slider-list__item--two .slider-list__text {
    margin-bottom: 27px;
}

.slider-list__item--three .slider-list__lead {
    margin-bottom: 39px;
}

.slider-list__item--three .slider-list__text {
    margin-bottom: 25px;
}


.main-slider__controls {
    display: flex;
    position: absolute;
    bottom: 97px;
    left: 50%;
    transform: translateX(-50%);
}


.main-slider__controls-btn {

    position: relative;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    margin-right: 17px;
    background-color: var(--white);
    cursor: pointer;
}

.main-slider__controls-btn:last-child {
    margin-right: 0;
}

.main-slider__controls-btn--current::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--gray-250);
    border-radius: 50%;
    margin: auto;
    background-color: var(--white);
}


/*-------------------------------services-------------------------------------------*/

.services {
    margin-bottom: 40px;
}

.services-list {
    max-width: 1100px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding-bottom: 80px;

    border-bottom: 1px solid var(--gray);
}

.services-list__item {
    min-height: 347px;
    padding-top: 170px;
}

.services-list__item h3 {

    margin: 0;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;

}

.services-list__item p {
    margin: 0;
    margin-bottom: 32px;

    color: var(--black-200);
}

.services__btn {
    padding-top: 17px;

}

/*-------------------------about-us-------------------------------------------------------*/


.about-company {
    display: grid;
    grid-template-columns: 650px 360px;
    column-gap: 150px;
    padding-bottom: 72px;
    border-bottom: 1px solid var(--gray);
}


.about-us__lead {
    margin-top: 34px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 45px;
    line-height: 1;
    color: var(--black);
}

.about-us__text {
    margin-top: 0;
    margin-bottom: 42px;
    color: var(--black-200);
}

.about-us h3 {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}



.about-us__list li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 37px;
}

.about-us__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 2px;

    background-color: var(--red);
}

.about-us__list li:last-child {
    margin-bottom: 0;
}

.stats {
    text-align: center;
}

.stats__img {
    margin-bottom: 31px;
}

.stats-list {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.stats-list__item {
    margin-right: 24px;
}

.stats-list__item:last-child {
    margin-right: 0;
}


.stats__lead {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
}

.stats__termin {
    position: relative;
    display: block;

    font-weight: 700;
    font-size: 45px;
    line-height: 1.422;
    color: var(--black);
}

.stats .stats__termin {
    margin-bottom: 10px;
}

.stats__termin-percent {
    position: absolute;
    top: 4px;

    font-size: 26px;
    line-height: 1.5;
}

.stats__desc {
    font-size: 16px;
    line-height: 1.125;
}

/*----------------------clients----------------------------------------*/

.clients {
    margin-bottom: 80px;
    border-bottom: 1px solid var(--gray);
}

.clients-list {
    padding-top: 46px;
    padding-bottom: 38px;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
}

.clients-list__item {
    position: relative;
    display: flex;
    margin: auto;
}

.clients-list__item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 2px;
    height: 52px;

    background-color: var(--gray);
}

.clients-list__item:last-child::after {
    display: none;
}


.clients__link img {
    opacity: 0.2;
}

.clients__link:hover img,
.clients__link:focus img {
    opacity: 1;
}

.clients__link:active img {
    opacity: 0.1;
}

.clients__link {
    display: block;
}

.clients__link--academy {
    padding-top: 1px;
    padding-left: 32px;
    padding-right: 50px;
}

.clients__link--borodinsky {
    padding-left: 45px;
    padding-right: 45px;
}

.clients__link--pink {
    padding-left: 58px;
    padding-right: 58px;
}

.clients__link--mishka {
    padding-top: 5px;
    padding-left: 63px;
    padding-right: 43px;
}

/*------------------------footer-------------------------------------------*/

.main-footer__top-line {
    padding-top: 54px;
    min-height: 416px;
    background-color: var(--green-400);
}

.main-footer__inner {
    display: grid;
    grid-template-columns: 319px 1fr;
}

.contacts {
    padding: 50px;
    padding-bottom: 48px;
    background-color: var(--white);
}

.contacts__title {
    margin: 0;
    margin-bottom: 22px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;

    color: var(--black);

}

.contacts__text {
    margin: 0;
    margin-bottom: 18px;

    font-weight: 400;
    line-height: 1.125;
    font-style: normal;
    color: var(--gray-600);

}

.contacts__tel-link {

    display: block;
    margin-bottom: 38px;

    font-weight: 400;

    line-height: 1.125;
    font-style: normal;
    text-decoration: none;
    color: var(--gray-600);
}

.contacts__btn {

    padding-left: 44px;
    padding-right: 44px;
}

.main-footer__bottom-line {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;

    padding-top: 68px;
    padding-bottom: 68px;
}

/*--------social-buttons-------*/


.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1px;
    padding-top: 1px;
}

.social-list__link {
    display: flex;
    width: 79px;
    height: 79px;
    margin-right: 11px;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--gray-300);
}

.social-list__item:last-child .social-list__link {
    margin-right: 0px;
}

.social-list__link-img {
    margin: auto;
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--red-500);
}

.social-list__link:active {
    background-color: var(--red-600);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-list__link:active .social-list__link-img {

    opacity: 0.3;
}

.lets-friends {
    margin: 0;
    padding-top: 7px;
}

.lets-friends b {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: var(--black);
}

.lets-friends span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--gray-700);

}

/*---------------------------pop-up------------------------------------------------*/

.pop-up {
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
    padding-top: 63px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 85px;

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.pop-up__btn {
    display: block;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;
    background-image: url(../../images/close-cross.svg);
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 50% 50%;

    opacity: 0.3;
    cursor: pointer;
}

.pop-up__btn:hover,
.pop-up__btn:focus {
    opacity: 1;
}

.pop-up__btn:active {
    opacity: 0.1;
}


.pop-up__form {

    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
}

.pop-up__form-item--text-area {
    grid-column: 1/3;
}

.pop-up__title-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 37px;
}

.pop-up__title {

    margin: 0;


    font-weight: 700;
    font-size: 45px;
    line-height: 1.177;
    color: var(--black);
}

.pop-up__form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
}

.pop-up__form-item label {
    display: block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    color: var(--black);
}

.pop-up__form-item input {
    padding: 16px;
    border: 2px solid var(--gray-200);
    border-radius: 3px;

    background-color: var(--white);
    outline: none;
}




.pop-up__form-item--text-area {
    margin-bottom: 47px;
}

.pop-up__form-item--text-area textarea {
    width: 760px;
    height: 118px;
    padding: 16px;

    border: 2px solid var(--gray-200);
    border-radius: 3px;

    background-color: var(--white);
    outline: none;
}

.pop-up__form-item input:hover,
.pop-up__form-item textarea:hover {
    border-color: var(--gray-450);
}

.pop-up__form-item textarea:focus,
.pop-up__form-item input:focus {
    border-color: var(--black);
}

.pop-up__form-item input:invalid {
    border-color: var(--red-500);
    color: var(--red-500);
}


/*-----------------------catalog-filters-------------------------------*/

.catalog-filters {
    grid-column: 1/2;
}

.catalog-filters fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 54px;
}


.filter-title {
    margin: 0;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;

    color: var(--black);
}

.range-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
}

.catalog-filters fieldset,
.range-field {
    border: none;
}

.range-fiter {
    position: relative;
    height: 80px;
    padding-left: 33px;
    padding-right: 33px;
    margin-bottom: 14px;

    background-color: var(--gray);
}

.range-line {
    position: relative;
    top: 50%;
    height: 2px;
    background-color: var(--gray-350);
}

.range-pin-min,
.range-pin-max {
    position: absolute;
    width: 20px;

    height: 20px;
    border-radius: 50%;

    border: 8px solid var(--white);
    background-color: var(--gray-400);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.range-fiter__controls {
    display: flex;
    justify-content: space-between;
}

.range-field {

    display: inline-block;
    width: 80px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-left: 11px;

    background-color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: var(--black-200);

}

.range-field::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: var(--black-200);
}


.catalog-filters__item {
    margin: 0;
    margin-bottom: 15px;
}

.catalog-filters__item:last-child {
    margin-bottom: 0;
}

.filter-label {
    display: block;
    position: relative;
    padding-left: 36px;

    color: var(--black-200);
    font-size: 16px;
    line-height: 1.25;

    cursor: pointer;
}

.filter-label--radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;

    width: 25px;
    height: 25px;

    border: 4px solid var(--gray-650);
    border-radius: 50%;
    opacity: 0.4;
}

.type-filter-radio:checked + .filter-label--radio:before {
    background-color: var(--gray-650);
    padding: 4px;
    background-clip: content-box;
}


.filter-label__check-box::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    top: -2px;

    background-image: url(../../images/checkbox-off.svg);
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.4;
}


.features-filter-input:checked + .filter-label__check-box::before {

    background-image: url(../../images/checkbox-on.svg);
}

.filter-label__check-box:hover::before,
.filter-label__check-box:active::before,
.filter-label--radio:hover::after,
.filter-label--radio:hover::before,
.filter-label--radio:active::after,
.filter-label--radio:active::before {
    opacity: 1;
}

.type-filter-radio:disabled + .filter-label,
.features-filter-input:disabled + .filter-label {
    opacity: 0.3;
}

.type-filter-radio:disabled + .filter-label::before,
.features-filter-input:disabled + .filter-label::before {
    opacity: 0.1;
}

.catalog-filters__btn {
    width: 100%;
}

/*----------------sort results---------------------*/
.catalog__sort {
    grid-column: 1/-1;

    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;

}

.catalog__sort-title {
    margin: 0;
    margin-right: 266px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;

    color: var(--black);
}



.sort-list {
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;

}

.sort-list__item {

    margin-right: 25px;

}

.sort-list__item--direcion-down {
    margin-right: 18px;
    margin-left: 47px;
}


.sort-list__item__last,
.sort-list__item--direcion:last-child {
    margin-right: 0;
}

.sort-list__link {

    display: block;
    font-size: 14px;
    line-height: 1.285;

    text-transform: uppercase;
    text-decoration: none;

    color: var(--black);
    opacity: 0.3;
    cursor: pointer;
}

.sort-list__link:hover,
.sort-list__link:focus {
    opacity: 0.6;
}

.sort-list__link:active {
    opacity: 1;
}

.sort-list__link--active {
    opacity: 1;
}

/*--------------catalog-list------------------------------*/

.catalog-list {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 30px;

    margin-bottom: 55px;

}

.catalog-list__item {

    position: relative;
    padding-top: 40px;
    overflow: hidden;

}

.catalog-list__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 40px;

    background-image: url(../../images/browser.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 360px 40px;
    opacity: 0.12;
}

.catalog-list__item:hover::before {
    opacity: 1;
}

.catalog-list__img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* border-left: 1px solid rgba(0, 0, 0, 0.1); */

/*--------------------product cart---------------------------------*/

.catalog-list__pop-up {

    position: absolute;
    left: 0;
    transform: translateY(100%);

    padding-top: 26px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 44px;

    text-align: center;
    background-color: var(--gray);

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}



.catalog-list__item:hover .catalog-list__pop-up {
    transform: translateY(-100%);
}

.catalog-list__link {
    display: block;
    margin: 0;

    text-decoration: none;

}

.catalog-list__cart-title {
    margin: 0;
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;
    color: var(--black);
}

.catalog-list__link:hover .catalog-list__cart-title,
.catalog-list__link:focus .catalog-list__cart-title {
    color: var(--red);
}

.catalog-list__link:active .catalog-list__cart-title {
    color: var(--black);
    opacity: 0.3;
}



.catalog-list__cart-desc {
    margin: 0;
    margin-bottom: 32px;

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    color: var(--gray-600);
}

.catalog-list__cart-price {
    margin: 0;
}



/*------------------------pagination-----------------------------*/

.pagination-list {

    display: flex;
    flex-wrap: wrap;


    margin-bottom: 60px;
}


.pagination-list__item {
    margin-right: 11px;
}

.pagination-list__item:last-child {
    margin: 0;
}

.pagination-list__link {
    display: block;
    padding: 15px 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    background-color: var(--gray);
}



.pagination-list__link:hover,
.pagination-list__link:focus {
    background-color: var(--gray-470);
}

.pagination-list__link:active {
    background-color: var(--gray-490);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list__link:active span {
    opacity: 0.3;
}

.pagination-list__link--active {
    padding: 12px 17px;
    background-color: var(--white);
    border: 3px solid var(---gray-370);

}

.pagination-list__link--next {
    padding-left: 77px;
    padding-right: 77px;
}