:root {

    --black: #000;
    --white: #fff;
    --red: #FB565A;
    --gray: #EEEEEE;
    --green: #00CA74;
    --yellow: #EFC849;

    --gray-500: #A6A6A6;
    --gray-600: #666666;
    --gray-700: #444444;
    --gray-300: #E1E1E1;
    --gray-200: #D7DCDE;
    --gray-400: #ABABAB;
    --gray-350: #D7DCDF;
    --gray-650: #4D4D4D;
    --gray-450: #B4B9BB;
    --gray-470: #DFDFDF;
    --gray-490: #D5D5D5;
    ---gray-370: #DBDBDB;

    --black-200: #283136;
    --black-300: #231F20;

    --red-500: #E74246;
    --red-600: #D7373B;

    --green-500: #00BC6C;
    --green-600: #00AA62;
    --green-400: #cfdc8f;

    --yellow-500: #EAB534;
    --yellow-600: #E5A722;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
    font-size: 0;

}

/*-----------------buttons---------------------------*/
.btn {

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: var(--white);
    background-color: var(--red);
}


.btn:hover,
.btn:focus {

    background-color: var(--red-500);

}


.btn:active {
    background-color: var(--red-600);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.btn:active span {
    opacity: 0.3;
}

/*-----------------buttons-modificators--------------------------*/

.btn--green {
    background-color: var(--green);
}

.btn--green:hover,
.btn--green:focus {
    background-color: var(--green-500);
}

.btn--green:active {
    background-color: var(--green-600);
}


.btn--yellow {
    background-color: var(--yellow);
}

.btn--yellow:hover,
.btn--yellow:focus {
    background-color: var(--yellow-500);
}

.btn--yellow:active {
    background-color: var(--yellow-600);
}


.btn--gray {
    background-color: var(--gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;

    color: var(--black);
}

.btn--gray:hover,
.btn--gray:focus {
    background-color: var(--gray-470);
}

.btn--gray:active {
    background-color: var(--gray-490);
}


.display-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.reset-list dd,
.reset-list dt {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;

}

.page-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    min-width: 1440px;

    display: grid;
    grid-template-rows:
        min-content 1fr min-content;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--black-200);
    background-color: var(--white);

}


.container {

    max-width: 1190px;
    min-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;

}



.main-slider,
.main-header,
.lead-title {
    background-color: var(--gray);
}


/**---------------------------------header-----------------------------------------------*/

.main-nav {

    display: grid;
    grid-template-columns: 200px 1fr 160px;
    column-gap: 40px;
    padding-top: 50px;

}

.main-logo {
    display: block;
    width: 160px;
    height: 66px;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-nav-list {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.main-nav-list__link {
    display: block;
    margin-left: 22.5px;
    margin-right: 22.5px;
    padding-bottom: 20px;
}

.user-basket {
    display: flex;
}

.user-basket-link {
    display: block;
    margin-top: auto;
    padding-left: 45px;
    padding-bottom: 20px;
}

.main-nav-list__link,
.user-basket-link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: none;

    color: var(--black);

}

.main-nav-list__link:hover,
.main-nav-list__link:focus,
.user-basket-link:hover,
.user-basket-link:focus {
    color: var(--red);
}

.main-nav-list__link:active,
.user-basket-link:active {
    color: var(--black);
    opacity: 0.3;
}

/*-----------------------------catalog-main-------------------------------*/

.catalog-grid {
    display: grid;
    grid-template-columns: 360px 760px;
    column-gap: 40px;
}

/*-----------------------------lead-title-----------------------------------------*/

.lead-title {
    margin: 0;
    margin-bottom: 55px;
    padding-top: 72px;
    padding-bottom: 108px;

    font-weight: 500;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;

    color: var(--black);
}

/*----------------------------------slider--------------------------------------------------*/

.main-slider {
    margin-bottom: 80px;
}

.slider-list__item {
    min-height: 431px;
    padding-top: 80px;
}

.slider-list__lead {
    margin: 0;
    margin-bottom: 25px;
}

.slider-list__lead b {
    font-weight: 500;
    font-size: 55px;
    line-height: 1.2;

    color: var(--black);
}


.slider-list__text {
    margin: 0;
    margin-bottom: 25px;
    color: var(--black-200);
}

/*-------------------------------services-------------------------------------------*/

.services {
    margin-bottom: 40px;
}

.services-list {
    max-width: 1100px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding-bottom: 80px;

    border-bottom: 1px solid var(--gray);
}

.services-list__item {
    min-height: 347px;
    padding-top: 170px;
}

.services-list__item h3 {

    margin: 0;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;

}

.services-list__item p {
    margin: 0;
    margin-bottom: 32px;

    color: var(--black-200);
}

/*-------------------------about-us-------------------------------------------------------*/


.about-company {
    display: grid;
    grid-template-columns: 650px 375px;
    column-gap: 135px;
    padding-bottom: 74px;
    border-bottom: 1px solid var(--gray);
}


.about-us__lead {
    margin-top: 34px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 45px;
    line-height: 1;
    color: var(--black);
}

.about-us__text {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--black-200);
}

.about-us h3 {
    margin-top: 0;
    margin-bottom: 23px;

    font-weight: 700;
    text-transform: uppercase;
}

.stats {
    text-align: center;
}

.stats__img {

    margin-bottom: 37px;
}

.stats-list {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.stats-list__item {
    margin-right: 22px;
}

.stats-list__item:last-child {
    margin-right: 0;
}


.stats__lead {
    margin-top: 0;
    margin-bottom: 31px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
}

.stats__termin {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.422;
    color: var(--black);
}

.stats__desc {
    font-size: 16px;
    line-height: 1.125;
}

/*----------------------clients----------------------------------------*/

.clients {
    margin-bottom: 79px;
    border-bottom: 1px solid var(--gray);
}

.clients-list {
    padding-top: 45px;
    padding-bottom: 45px;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.clients-list__item {
    flex-grow: 1;
}

.clients__link img {
    opacity: 0.2;
}

.clients__link:hover img,
.clients__link:focus img {
    opacity: 1;
}

.clients__link:active img {
    opacity: 0.1;
}

/*------------------------footer-------------------------------------------*/

.main-footer__top-line {
    padding-top: 54px;
    min-height: 416px;
    background-color: var(--green-400);
}

.main-footer__inner {
    display: grid;
    grid-template-columns: 319px 1fr;
}

.contacts {
    padding: 50px;
    background-color: var(--white);
}

.contacts__title {
    margin: 0;
    margin-bottom: 23px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;

    color: var(--black);

}

.contacts__text {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 400;
    line-height: 1.125;
    font-style: normal;
    color: var(--gray-600);

}

.contacts__tel-link {

    display: block;
    margin-bottom: 38px;

    font-weight: 400;

    line-height: 1.125;
    font-style: normal;
    text-decoration: none;
    color: var(--gray-600);
}


.main-footer__bottom-line {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;

    padding-top: 68px;
    padding-bottom: 68px;
}

/*--------social-buttons-------*/


.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -9px;
}

.social-list__link {
    display: block;
    width: 77px;
    margin-right: 9px;
    text-decoration: none;
    background-color: var(--gray-300);
}


.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--red-500);
}

.social-list__link:active {
    background-color: var(--red-600);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-list__link:active .social-list__link-img {

    opacity: 0.3;
}

.lets-friends {
    margin: 0;
}

.lets-friends b {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: var(--black);
}

.lets-friends span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--gray-700);

}

/*---------------------------pop-up------------------------------------------------*/

.pop-up {
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
    padding-top: 63px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 85px;

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}


.pop-up__form {

    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
}

.pop-up__form-item--text-area {
    grid-column: 1/3;
}

.pop-up__title-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 37px;
}

.pop-up__title {

    margin: 0;


    font-weight: 700;
    font-size: 45px;
    line-height: 1.177;
    color: var(--black);
}

.pop-up__form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
}

.pop-up__form-item label {
    display: block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    color: var(--black);
}

.pop-up__form-item input {
    padding: 16px;
    border: 2px solid var(--gray-200);
    border-radius: 3px;

    background-color: var(--white);
}

.pop-up__form-item--text-area {
    margin-bottom: 47px;
}

.pop-up__form-item--text-area textarea {
    width: 760px;
    height: 118px;
    padding: 16px;

    border: 2px solid var(--gray-200);
    border-radius: 3px;

    background-color: var(--white);
}


/*-----------------------catalog-filters-------------------------------*/

.catalog-filters {
    grid-column: 1/2;
}

.catalog-filters fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}

.catalog-filters legend {
    margin-bottom: 15px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;

    color: var(--black);
}

.range-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
}

.catalog-filters fieldset,
.range-field {
    border: none;
}

.range-field {

    background-color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: var(--black-200);

}

.range-field::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: var(--black-200);
}


.catalog-filters__item {
    margin: 0;
    margin-bottom: 15px;
}

.catalog-filters__item:last-child {
    margin-bottom: 0;
}

.filter-label {
    color: var(--black-200);
    font-size: 16px;
    line-height: 1.25;
}

.type-filter-radio:disabled + .filter-label,
.features-filter-input:disabled + .filter-label {
    opacity: 0.3;
}

/*----------------sort results---------------------*/


.catalog__sort {
    grid-column: 1/-1;
}

.sort-list__link {


    font-size: 14px;
    line-height: 1.285;

    text-transform: uppercase;
    text-decoration: none;

    color: var(--black);
    opacity: 0.3;
}

.sort-list__link:hover,
.sort-list__link:focus {
    opacity: 0.6;
}

.sort-list__link:active {
    opacity: 1;
}

.sort-list__link--active {
    opacity: 1;
}

/*--------------catalog-list------------------------------*/

.catalog-list {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
}

/*--------------------product cart---------------------------------*/

.catalog-list__pop-up {
    background-color: var(--gray);
}

.catalog-list__link {
    text-decoration: none;
}

.catalog-list__cart-title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.666;
    text-transform: uppercase;
    color: var(--black);
}

.catalog-list__link:hover .catalog-list__cart-title,
.catalog-list__link:focus .catalog-list__cart-title {
    color: var(--red);
}

.catalog-list__link:active .catalog-list__cart-title {
    color: var(--black);
    opacity: 0.3;
}



.catalog-list__cart-desc {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    color: var(--gray-600);
}



/*------------------------pagination-----------------------------*/

.pagination-list__link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    color: var(--black);
    text-decoration: none;
    text-align: center;

    background-color: var(--gray);
}

.pagination-list__link:hover,
.pagination-list__link:focus {
    background-color: var(--gray-470);
}

.pagination-list__link:active {
    background-color: var(--gray-490);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list__link:active span {
    opacity: 0.3;
}

.pagination-list__link--active {
    background-color: var(--white);
    border: 3px solid var(---gray-370);
}